{{ form }}
<table class="table table-condensed table-bordered table-striped mt-3">
    <thead>
        <tr>
            <th class="sortable">Category <i class="fa fa-sortable fa-sort-up"></i><i class="fa fa-sortable fa-sort-down"></i></th>
            <th class="sortable">Division <i class="fa fa-sortable fa-sort-up"></i><i class="fa fa-sortable fa-sort-down"></i></th>
            <th class="sortable">Name <i class="fa fa-sortable fa-sort-up"></i><i class="fa fa-sortable fa-sort-down"></i></th>
            <th class="sortable">Description <i class="fa fa-sortable fa-sort-up"></i><i class="fa fa-sortable fa-sort-down"></i></th>
            <th class="sortable">Type <i class="fa fa-sortable fa-sort-up"></i><i class="fa fa-sortable fa-sort-down"></i></th>
            <th class="sortable">Amount <i class="fa fa-sortable fa-sort-up"></i><i class="fa fa-sortable fa-sort-down"></i></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% if queryset %}
    {% for row in queryset %}
        <tr>
            <td>{{ row.division.category }}</td>
            <td>{{ row.division }}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.description }}</td>
            <td>{{ row.award_type }}</td>
            <td>{% if amount %}{{ row.amount }}{% endif %}</td>
            <td>
                <a href="#" hx-get="/handyhelpers/about" hx-target="#modal_wrapper" data-bs-toggle="modal" data-bs-target="#modal_wrapper">
                    <i class="fa fa-info-circle fw"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
    {% else %}
        <tr><td colspan="7" class="spanning-row text-center">No matching records found</td></tr>
    {% endif %}
    </tbody>
</table>
