<div class="container-fluid px-5">
    <div class="h2 text-primary fw-bold my-3">{{ title }}: 
        <span class="h4 text-secondary mx-2">{% if subtitle %}{{ subtitle }}{% endif %}</span>
    </div>

    <div class="d-flex justify-content-end mb-3">
        <i id="paginationToggle" class="fa-solid fa-square-caret-down"></i>
    </div>

    <table class="table table-condensed table-bordered table-striped mt-3">
        <thead>
            <tr>
                <th class="sortable">Year <i class="fa fa-sortable fa-sort-up"></i><i class="fa fa-sortable fa-sort-down"></i></th>
                <th class="sortable">Title <i class="fa fa-sortable fa-sort-up"></i><i class="fa fa-sortable fa-sort-down"></i></th>
                <th class="sortable">Created At <i class="fa fa-sortable fa-sort-up"></i><i class="fa fa-sortable fa-sort-down"></i></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for row in queryset %}
            <tr>
                <td><a href="" hx-get="{% url 'parademgr:detail_parade' row.pk %}" hx-target="#body_main" hx-push-url="true">{{ row.year }}</a></td>
                <td>{{ row.title }}</td>
                <td>{{ row.created_at }}</td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav id="paginationNav">
        <ul class="pagination justify-content-end"><!-- Pagination will be inserted here by JavaScript --></ul>
    </nav>
</div>