<table class="table table-condensed table-bordered table-striped mt-3">
    <thead>
        <tr>
            <th class="sortable">Organization <i class="fa fa-sortable fa-sort-up"></i><i class="fa fa-sortable fa-sort-down"></i></th>
            <th class="sortable">Category <i class="fa fa-sortable fa-sort-up"></i><i class="fa fa-sortable fa-sort-down"></i></th>
            <th class="sortable">Division <i class="fa fa-sortable fa-sort-up"></i><i class="fa fa-sortable fa-sort-down"></i></th>
            <th class="sortable">Entry <i class="fa fa-sortable fa-sort-up"></i><i class="fa fa-sortable fa-sort-down"></i></th>
            <th class="sortable">March Order <i class="fa fa-sortable fa-sort-up"></i><i class="fa fa-sortable fa-sort-down"></i></th>
            <th class="sortable">Street <i class="fa fa-sortable fa-sort-up"></i><i class="fa fa-sortable fa-sort-down"></i></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% if queryset %}
    {% for row in queryset %}
        <tr>
            <td><a href="" hx-get="{% url 'parademgr:detail_organization' row.pk %}" hx-target="#body_main" hx-push-url="true">{{ row.organization.name }}</a></td>
            <td>{{ row.division.category.name }}</td>
            <td>{{ row.division }}</td>
            <td>{{ row.entry }}</td>
            <td>{{ row.march_order }}</td>
            <td>{{ row.street }}</td>
            <td></td>
        </tr>
    {% endfor %}
    {% else %}
        <tr><td colspan="7" class="spanning-row text-center">No matching records found</td></tr>
    {% endif %}
    </tbody>
    </table>
