<table class="table table-condensed table-bordered table-striped mt-3">
    <thead>
        <tr>
            <th class="sortable">Category <i class="fa fa-sortable fa-sort-up"></i><i class="fa fa-sortable fa-sort-down"></i></th>
            <th class="sortable">Division <i class="fa fa-sortable fa-sort-up"></i><i class="fa fa-sortable fa-sort-down"></i></th>
            <th class="sortable">Name <i class="fa fa-sortable fa-sort-up"></i><i class="fa fa-sortable fa-sort-down"></i></th>
            <th class="sortable">Description <i class="fa fa-sortable fa-sort-up"></i><i class="fa fa-sortable fa-sort-down"></i></th>
            <th class="sortable">Type <i class="fa fa-sortable fa-sort-up"></i><i class="fa fa-sortable fa-sort-down"></i></th>
            <th class="sortable">Amount <i class="fa fa-sortable fa-sort-up"></i><i class="fa fa-sortable fa-sort-down"></i></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% if queryset %}
    {% for row in queryset %}
        <tr>
            <td>{{ row.award.division.category }}</td>
            <td>{{ row.award.division }}</td>
            <td>{{ row.award.name }}</td>
            <td>{{ row.award.description }}</td>
            <td>{{ row.award.award_type }}</td>
            <td>{% if amount %}{{ row.award.amount }}{% endif %}</td>
            <td></td>
        </tr>
    {% endfor %}
    {% else %}
        <tr><td colspan="7" class="spanning-row text-center">No matching records found</td></tr>
    {% endif %}
    </tbody>
</table>
