<section class="animated fadeIn" style="animation-delay: .15s;">
    <header class="m-2">
        <div class="headline text-center">
            <div class="container">
                <div class="h1 text-primary fw-bold mb-3">{{ object.year }}</div>
                <div class="h3 text-secondary fw-bold mb-3">{{ object.title }}</div>
            </div>
        </div>
    </header>

    <div class="container-fluid my-3 animated fadeIn" style="animation-delay: .25s;">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#participants" type="button" role="tab" aria-controls="participants" aria-selected="true">Participants</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="awards-tab" data-bs-toggle="tab" data-bs-target="#awards" type="button" role="tab" aria-controls="awards" aria-selected="false">Awards</button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="participants" role="tabpanel" aria-labelledby="participants-tab">
                {% with object.get_participants as queryset %}
                {% with 'parademgr/partial/table/participants.htm' as item_content %}
                {% include 'handyhelpers/htmx/bs5/htmx_option_multi_filter_view/wrapper_table.htm' %}
                {% endwith %}
                {% endwith %}
            </div>
            <div class="tab-pane fade" id="awards" role="tabpanel" aria-labelledby="awards-tab">
              {% with object.get_awards as queryset %}
              {% with 'parademgr/partial/table/participant_awards.htm' as item_content %}
              {% include 'handyhelpers/htmx/bs5/htmx_option_multi_filter_view/wrapper_table.htm' %}
              {% endwith %}
              {% endwith %}
            </div>
          </div>
    </div>
</section>
